body{
    background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
header{
    height: 100%;
    width: 100%;
}
header li{
    display: inline-block;
    margin-left: 15px;
}
header a{
    text-decoration: none;
}
.header-wrap{
    width: 960px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
input{
        margin-top: 10px;
        max-height:  25px;
    }
.info-unv {
    display: auto;
    width: 95%;
    margin: 0 auto;
    height: 50%;

}
@media screen and (max-width:500px) {
    input{
        display: none;
    }
}

